
.task {
    display: flex;
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.681);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s;
}

.task:hover {
    transform: translateY(-2px);
}
.task-checkbox{
    width: 10%;
}

.task-checkbox input {
    width: 20px;
    
    height: 20px;
    accent-color: #688cfa;
    cursor: pointer;
}

.task-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}


.task-TDD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.task-title {
    font-weight: 600;
    font-size: large;
    color: #1e293b;
}

.task-date {
    font-size: 13px;
    color: #64748b;
}

.task-difficulty {
    padding: 5px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    width: 50px;
    text-align: center;
}

.task-discription {
    font-size: 14px;
    color: #475569;
    width: 85%;
}

.task-checkbox input:checked+.task-data {
    opacity: 0.6;
}

.buttons-with-discription {
    display: flex;
    justify-content: space-between;
}

.buttons button{
    border: none;
    color: gray;
    margin: 0 2px;
    background-color: transparent;
    transition: 0.3s;
}

.buttons button:hover {
    background-color: rgb(223, 223, 223);
}

.buttons .delete {
    color: #e35260ff;
}

.buttons .update {
    color : #2dab71ff ;
}