body {
    background-color: rgb(27, 27, 27);
    background-repeat: no-repeat;
    background-size: cover;  
    background-attachment: fixed;
    width: 70%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}